/* Styling For First  Part Of The Homework */

body{
    background-image: url("assets/images/houndstooth-pattern.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #4aaaa5;
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h2{
    color: #4aaaa5;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: #cccccc;
    border-bottom-color: aqua
}
p{
    background-color: #ffffff;
    margin-left: auto;
    
}
.pages{
    text-align: right;

}

div{
    
}
.footer{
        background-color: #666666;
        color: #cccccc;
        border-top: 8px solid #4aaaa5;
        clear: both;
        font-size: 12px;
        height: 30px;
        margin: 0 auto;
        margin-top: 60px;
        padding: 30px 0;
        text-align: center;
     }




